.formBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  color: white;
  background-color: #2f6185;
  min-height: 300px;
}

input[type="radio"] {
  -webkit-appearance: none; /* Remove default appearance */
  -moz-appearance: none;
  appearance: none;
  width: 25px; /* Adjust the size of the radio button */
  height: 25px;
  border-radius: 50%; /* Make it circular */
  border: 2px solid white; /* Change the border color */
  outline: none; /* Remove outline */
  margin-right: 10px;
}

input[type="radio"]:checked {
  background-color: #f7941d; /* Change the background color when checked */
}
