.contactBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 40px;
}

.contactInnerBody {
  display: flex;
  width: 300px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  color: #2f6185;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.map {
  width: 300px;
  height: 250px;
}

@media (min-width: 800px) {
  .contactInnerBody {
    width: 400px;
    height: 350px;
  }
  .contactBody {
    flex-direction: row;
    justify-content: space-between;
  }
  .map {
    width: 400px;
    height: 350px;
  }
}
