.footer {
    margin-top: 50px;
    background-color: #183347;
    padding: 20px;
  }
  
  .footer__contact-info {
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 1000px) {
        flex-direction: row;

        justify-content: space-between;

        max-width: 50%;
      }
  }
  
  .footer__contact-item {
    margin-bottom: 10px;

    color:white;
    display: flex;
    align-items: center;
  }
  
  .footer__icon {
    color:#f7941d;

    margin-right: 5px;
  }
  
  .footer__logos {
    display: flex;
    margin: auto;

  }
  
  .footer__logo {
    width: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;

    height: auto;
  }
  