.info-component {
  margin-top: 240px;
  font-family: "Montserrat";
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f7941d;
}

.options-bar {
  max-width: 95%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.icon-container {
  background-color: transparent;
  margin-right: 1px,

}

.option-icon {
  cursor: pointer;
  width: 30px;
  color: whitesmoke;
  padding: 22px 27px 17px 27px;
}

.selected-text {
  max-width: 90%;
  font-size: 17px;

  transition: opacity 0.5s ease-in-out;
}

.left-content,
.right-content {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.selected-title {
  font-family: "Montserrat";
  color: #183347;
  font-size: 21px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.fade-in-out {
  transition: opacity 0.5s ease-in-out;
}

@media (min-width: 800px) {
  .info-component {
    margin-top: 230px;
  }

  .selected-text {
    max-width: 69%;
  }

  .left-content {
    width: 49%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
  }
  .options-bar {
    max-width: 60%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .right-content {
    width: 49%;
    padding: 10px;
    box-sizing: border-box;
    float: right;
  }

  .selected-title {

    margin-top: 47px;
    margin-bottom: 27px;
  }
}
