/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2f6185;
}

.main-titles {
  display: flex;
  cursor: pointer;
}

.title {
  color: #2f6185;
  text-decoration: none;
  position: relative;
  margin-right: 70px;
  font-size: 30px;
  font-weight: bold;
}

.title:hover {
  color: #f7941d;
}

.subtitles {
  width: 120px;
  position: absolute;
  top: 100%;
  padding: 10px;
  z-index: 999;
  font-size: 15px;
}

.subtitle {
  color: white;

  margin-bottom: 10px;
  cursor: pointer;
}

.subtitle:hover {
  color: #f7941d;
}

@media (min-width: 1000px) {
  .logo {
    margin-left: 15px;
  }
}
