.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background-image: url("./images/sky.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  @media (min-width: 1000px) {
    height: 640px;
  }
}

body {
  margin: 0; 
  padding: 0; 
  background-color: #3e7dab;
}

.app {
  display: "flex";
  flex-direction: "column";
  position: relative;
  z-index: 1; 
}
